body {
	overflow: visible;
	font-family: sans-serif;
}
footer {
	background: #404040;
	bottom: 0;
	color: #999;
}
pre {
	font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
	background-color: white;
	border: 0;
	white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.error {
	color: #d34336;
}
.msg {
	color: #259b24;
}
.forgot {
	font-size: 70%;
}
.trans-white {
	background-color:rgba(255, 255, 255, 0.2);
}
.translate {
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
}
.videogular-container-intro {
	width: 100%;
	height: 320px;
	margin: auto;
	overflow: hidden;
	margin: 5px;
}
.videogular-container-profil {
	position:absolute;
	z-index: 40;
}
.videogular-container-mini {
	width: 100%;
	height: 230px;
	margin: auto;
	overflow: hidden;
	margin: 5px;
}
.video-filter {
	position: absolute;
	display: block;
	top: 0;
}
.video-filter  p {
	margin: 10px;
	color: white;
}
.intro-button {
	padding: 4px 10px 4px 10px;
}
.custom-button {
	color: white;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.green-blue-pink {
	background: -webkit-linear-gradient(left, rgba(162,189,80,0.7), rgba(34,118,170,0.7), rgba(249,158,147,0.7)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right, rgba(162,189,80,0.7), rgba(34,118,170,0.7), rgba(249,158,147,0.7)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right, rgba(162,189,80,0.7), rgba(34,118,170,0.7), rgba(249,158,147,0.7)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(162,189,80,0.7), rgba(34,118,170,0.7), rgba(249,158,147,0.7)); /*Standard*/
}
.blue-pink {
	background: -webkit-linear-gradient(left, rgba(34,118,170,0.7), rgba(249,158,147,0.7)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right, rgba(34,118,170,0.7), rgba(249,158,147,0.7)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right, rgba(34,118,170,0.7), rgba(249,158,147,0.7)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(34,118,170,0.7), rgba(249,158,147,0.7)); /*Standard*/
}
.blue-green {
	background: -webkit-linear-gradient(left, rgba(34,118,170,0.7), rgba(162,189,80,0.7)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right, rgba(34,118,170,0.7), rgba(162,189,80,0.7)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right, rgba(34,118,170,0.7), rgba(162,189,80,0.7)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(34,118,170,0.7), rgba(162,189,80,0.7)); /*Standard*/
}
.pink-green {
	background: -webkit-linear-gradient(left, rgba(249,158,147,0.7), rgba(162,189,80,0.7)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right, rgba(249,158,147,0.7), rgba(162,189,80,0.7)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right, rgba(249,158,147,0.7), rgba(162,189,80,0.7)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(249,158,147,0.7), rgba(162,189,80,0.7)); /*Standard*/
}
.yellow {
	width: 100%;
	height: 100%;
	opacity: 0.1;
	filter: alpha(opacity=10);
	background-color: rgb(255, 255, 0);
}
.blue {
	width: 100%;
	height: 100%;
	opacity: 0.1;
	filter: alpha(opacity=10);
	background-color: rgb(0, 0, 255);
}
.red {
	width: 100%;
	height: 100%;
	opacity: 0.1;
	filter: alpha(opacity=10);
	background-color: rgb(255, 0, 0);
}

.sub .md-subheader-inner {
	padding-top: 0px;
	padding-bottom: 0px;
}

.sub .md-subheader-inner .md-button {
	margin-top: 4px;
	margin-bottom: 4px;
}

.sub-content {
	height: 48px;
}

.avatar {
	width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 10;
    margin-bottom:-20px;
}

.annonce:hover {
	opacity: 0.5;
}

md-content md-tabs {
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
}

md-grid-list md-grid-tile md-grid-tile-header {
  background: rgba(0, 0, 0, 0.68);
}

md-sidenav {
	position: fixed;
}

md-backdrop {
	position: fixed;
}

md-tabs.md-berliiozTheme-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
	color: black;
}

.md-datepicker-calendar-pane.md-pane-open {
	background-color: white;
}

.animate {
  opacity: 1;
}
/*.animate.ng-hide-add.ng-hide-add-active,*/
.animate.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.animate.ng-hide {
  opacity: 0;
}
/*@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}
}
 
@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}
}
 
@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}
}*/